<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @variant.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @variant.price %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @variant.cost %>
</p>

<p>
  <strong>Product:</strong>
  <%= @variant.product_id %>
</p>

<p>
  <strong>Color:</strong>
  <%= @variant.color %>
</p>

<%= link_to 'Edit', edit_variant_path(@variant) %> |
<%= link_to 'Back', variants_path %>
